.vs/
*.suo
*.user
**/App_Data/*.ldf
**/App_Data/*.mdf
**/bin/Debug/
**/bin/Release/
packages/
obj/
**/*.Web/bin
**/*.Script/bin
**/*.Test/bin
MovieTutorial/MovieTutorial/MovieTutorial.Web/Modules/Common/Imports/ScriptEditorTypes.log
MovieTutorial/MovieTutorial/MovieTutorial.Web/Modules/Common/Imports/ScriptFormatterTypes.log
MovieTutorial/MovieTutorial/MovieTutorial.Script/Imports/ServiceContracts/ServiceContracts.log
MovieTutorial/MovieTutorial/MovieTutorial.Script/Imports/FormContexts/FormContexts.log
