
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.MovieDB.Person.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MovieTutorial.MovieDB.PersonGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>