{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=MovieTutorial_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "mov.Movie",
                    "Identifier": "Movie",
                    "Module": "MovieDB",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "mov.Genre",
                    "Identifier": "Genre",
                    "Module": "MovieDB",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "WebProjectFile": "..\\..\\..\\MovieTutorial\\MovieTutorial.Web\\MovieTutorial.Web.csproj",
    "ScriptProjectFile": "..\\..\\..\\MovieTutorial\\MovieTutorial.Script\\MovieTutorial.Script.csproj",
    "RootNamespace": "MovieTutorial",
    "BaseRowClasses": [],
    "RemoveForeignFields": []
}